.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 10px 20px;
  width: 250px;
  max-height: 340px;

  position: fixed;
  top: 80px;
  right: 0;
  z-index: 9999;
  background-color: var(--clr-dark);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.switch-theme {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.switch-theme > p {
  font-size: 1.1rem;
}

.switch-theme > #mobile-theme-button {
  font-size: 1.5rem;
  color: var(--clr-text);
  transition: all 0.4s;
}

.mobile-menu hr {
  border: 1px solid var(--clr-light);
  width: 100%;
  opacity: 0.2;
  margin-top: 0.8rem;
}
